<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <h2>Welcome back! </h2>
        <h3>Your Accounts</h3>
        {% for account in accounts %}
            <div>
                <h4>{{ account.type }}</h4>
                <p>${{ account.balance }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>