{% extends 'Accounts/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div id="main-container">
        <h2>Welcome back! </h2>
        <h3>Your Accounts</h3>
        {% for account in accounts %}
            <div id="account-container">
                <div>
                    <p>{{ account.type }} - 1234</p>
                    <p>Quick View</p>
                </div>
                <h3><strong>${{ account.balance }}</strong></h3>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
