<header>
    <div id="top-row">
        <div id="logo">
            <span>Tomline Banking</span>
            <span>Online Banking</span>
        </div>
        <div id="menu">
            <ul>
                <li><a href="#">Name</a></li>|
                <li><a href="#">Profiles and Settings</a></li>|
                <li>
                    <a href="#">
                        {% if auth %}Logout{% else %}Login{% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="bottom-row">
        <ul>
            <li><a href="#">Account</a></li>
            <li><a href="#">Bill Pay</a></li>
            <li><a href="#">Transfer</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Rewards</a></li>
            <li><a href="#">Open an Account</a></li>
            <li><a href="#">Help and Support</a></li>
        </ul>
    </div>
</div>
</header>